<ion-fab style="padding-right:6.2%; color:azure" bottom right #fab>
  <button class="transparent-style" color="#000000" ion-fab mini (tap)="fabToggled()"></button>
  <ion-fab-list side="top">
    <button ion-fab (tap)="sound()">
      <ion-icon *ngIf="soundOn" color="primary" name="volume-up"></ion-icon>
      <ion-icon *ngIf="!soundOn" color="primary" name="volume-off"></ion-icon>
      <ion-label *ngIf="soundOn">Səsli</ion-label>
      <ion-label *ngIf="!soundOn">Səssiz</ion-label>
    </button>
    <button ion-fab (tap)="popupContact()">
      <ion-icon color="primary" name="text"></ion-icon>
      <ion-label>Əlaqə</ion-label>
    </button>
    <button ion-fab (tap)="navigate('rules')">
      <ion-icon color="primary" name="clipboard"></ion-icon>
      <ion-label>Qaydalar</ion-label>
    </button>
    <button ion-fab (tap)="navigate('gifts')">
      <ion-icon color="primary" name="logo-usd"> </ion-icon>
      <ion-label>Hədiyyələr</ion-label>
    </button>
    <button ion-fab (tap)="navigate('winners')">
        <ion-icon color="primary" name="trophy"></ion-icon>
        <ion-label>Qaliblər</ion-label>    
    </button>  
  </ion-fab-list>
</ion-fab>

<ion-tabs class="tabs indicator" height="100%" selectedIndex="1" tabsPlacement="bottom" transitionDuration="100">
  <ion-tab (ionSelect)="close(fab)" (tap)="close(fab)" (click)="close(fab)" [root]="statsRoot" tabIcon="stats"></ion-tab>
  <ion-tab (ionSelect)="close(fab)" (tap)="close(fab)" (click)="close(fab)" [root]="gameRoot" tabIcon="game-controller-b"></ion-tab>
  <ion-tab id="settings" tabIcon="settings"></ion-tab>
</ion-tabs>