page-welcome {
    input {
        text-align: center;
     }

    ion-item {
        padding-right: 5% !important;
    }

    .welcomeBlock {
        padding: 12.5% 0% 12.5% 0%;
    }

    * {
        font-size: 125%;
    }
}
