page-welcome {
    input {
        text-align: center;
    }

    ion-item {
        padding-right: 5% !important;
    }

    input[type=tel], select {
        width: 100%;
        background-color: white;
        padding: 5% 5%;
        margin: 2% 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .button {
        width: 100%;
        background-color:#2AB736;
        padding: 5% 5%;
        margin: 2% 0;
        display: inline-block;
        border: 1px solid #2AB736;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .white {
        color: white;
    }
}
