page-game {
    #inputBox {
        color: #B91226;
        font-size: 110%;
        font-weight: bold;

        input[disabled] {
            color:#B91226 !important;
            background: none !important;
            opacity: 1 !important;
        }
    }

    .letters { 
        margin-left: 2%;
        margin-right: 2%;
        align-content: center !important;
        align-items: center !important;
        align-self: center !important;
    }

    .letter {
        border-color: white; 
        background-color: white; 
        color: #B91226;
        width: 12%;
        margin-left: 1%;
        margin-right: 1%;
        border-radius: 50%;
        font-weight: bold;
    }

    .button.process {
        color: white;
        width: 100%;
        background-color:#2AB736;
        padding: 5% 5%;
        margin: 2% 0;
        display: inline-block;
        border: 1px solid #2AB736;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .button.clear {
        color: white;
        width: 20%;
        background-color:#2AB736;
        margin: 1.25% 1.5%;
        display: inline-block;
        border: 1px solid #2AB736;
        border-radius: 4px;
        box-sizing: border-box;
    }
}
