<ion-header [ngClass]="{'shadowed' : this.global.isOpen }" >
    <img src="assets/imgs/welcomeLogo.png" />
</ion-header>

<ion-content [ngClass]="{'shadowed' : this.global.isOpen }" style="background-color: #B91226;" padding="false" no-bounce text-center overflow-scroll="true">
  <div class="welcomeBlock">
    <ion-card *ngIf="usrPoints > 0" id="points" text-center>
      <br>
      <p class="points">{{usrPoints}} xal</p>
      <br>
    </ion-card>  
  </div>

  <div class="welcomeBlock">
    <br>
    <ion-card item-height="100%">
      <ion-row>
        <ion-input [ngClass]="{'animated infinite rubberBand': animateSuccess}" id="inputBox" type="text" disabled [(ngModel)]="inputWord" text-center>{{inputWord}}</ion-input>
        <button class="clear" *ngIf="indexes.length > 0" ion-button outline block color="dark" (click)="clear()">SİL</button>
      </ion-row>
    </ion-card>  

    <br>
    
    <div *ngIf="this.scrArr.length == 0"><ion-spinner name="dots"></ion-spinner><br></div>
    <ion-row class="letters" style="display: flex; justify-content: center;" align-items-center text-center>
      <button class="letter" id="{{i}}" ion-button outline block *ngFor="let letter of scrArr; let i = index" (click)="press(letter, i)">{{letter}}</button>
    </ion-row>
    
    <ion-card>
      <p></p>
    </ion-card>
  </div>

  <br>  
  
  <button *ngIf="this.scrArr.length > 0" class="process" ion-button outline block color="dark" (click)="newWord(mobileNumber)">NÖVBƏTİ SÖZ</button>
</ion-content>